<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

    <ion-toolbar>
      <ion-title size="large"> Cinemas </ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container
  [loop]="false"
  [pagination]="true"
  [sLidesPerView]="2">


  <swiper-slide *ngFor="let slide of slides; let i = index">
    <br>
    <img *ngIf="i === 0 || i === 1" src={{slide.image}}>
    <br>
    <br>
    <h1> {{slide.title}} </h1>
    <p> {{slide.description}} </p> 
    <ion-button (click)="iralHome()" *ngIf="i==2"> Obten tu ticket </ion-button>
    <br>
    <br>
    <br>
    <br>
    <br>
 <ion-button class="omitir" (click)="omitir()" *ngIf="i==0"> Omitir </ion-button>
 <p> {{slide.texto_ayuda}} </p>

 
    </swiper-slide>
  
  </swiper-container>
</ion-content>