#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categoria-titulo {
  color:#39425c;
  text-align: center;
  margin-top: 20px; 
  font-size: 24px; 
  font-weight: bold; 
}

ion-content{
  --background: #ffffff;
}

ion-toolbar{
  --background:#39425c;
}

ion-menu-button{
  color:#ffffff;
}

swiper-slide{
    display: flex;
    padding: 2px;
    width: auto; 
    height: 200px;

}

.titulo{
  color:#ffffff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.custom-item {
  --background: #ffffff; 
  font-weight: bold;
  color:#7f828a; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}


ion-label{
  padding: 5px;
}

ion-item, h3 {
  --background: #ffffff;
  color:#39425c;
  font-size: 18px;
  font-family:fantasy;
  
}

p{
  color: #7f828a;
}