<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cinemas Procinal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cinemas</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container [loop]="true" [pagination]="true" [slidesPerView]="2">
    <swiper-slide>
      <div id="container">
        <h1>Bienvenido a tu destino cinematográfico definitivo</h1>
        <p>Sumérgete en un universo de historias infinitas y experiencias inigualables.</p>
        <p>¿Qué te gustaría ver hoy?</p>
        <a href="intro.html">
          <img src="https://www.cineland.co/images/Proximos_estrenos/themarvels.jpg" alt="THE MARVELS" width="162" height="240">
        </a>
      </div>
    </swiper-slide>
    <!-- Agrega más slides según sea necesario -->
  </swiper-container>

  <div id="reservarButtonContainer">
    <a href="reservar.html" id="reservarButton">Reservar asientos</a>
  </div>
</ion-content>
