ion-content {
  --background: #ffffff;
  }
    
  h1{
  color:#39425c;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  }

  p{
    
    font-size: 14px;
    font-family:Verdana;
    color: #39425c;
    text-align: center;
    }

  .logo {
    
    width: 200px; 
    height: 200px; 

  }
  
  ion-item {
    --background:white;
    padding: 10px;
    padding-top: 0;
    --border-radius: 10px;

    color: #39425c;
    font-weight: bold;

    --border-radius: 15px;
    --border-color:#7f828a;
    --border-width: 2px;
  }
  
  ion-button {
    
    padding: 10px;
    margin-top: 5px;

  }
  
.validation-message{
 
  text-align: center;
  color: red;
  font-size: 14px;
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.p1{
  font-size: 14px;
  color:#62cbeb;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  text-decoration: underline;
}

.ion-text-centerr{
  display: flex;
  justify-content: center;

}

.success-message {
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 10px;
}