<ion-header>
</ion-header>

<ion-content>
  <figure class="ion-text-center">
    <img src="../../assets/imagenes/User.png" alt="logo" class="logo">
  </figure>

  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

    <ion-item [class.invalid]="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty)">
      <ion-label position="floating"> Correo Electronico </ion-label>
      <ion-input
        placeholder="email@ejemplo.com"
        formControlName="email"
        [clearInput]="true"
      ></ion-input>
    </ion-item>
    <div *ngIf="loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.dirty)" class="validation-message">
      El correo electrónico es obligatorio.
    </div>
    <div *ngIf="loginForm.get('email')?.hasError('pattern') && (loginForm.get('email')?.dirty)" class="validation-message">
      El formato del correo electrónico no es válido.
    </div>
  
    <ion-item [class.invalid]="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty)">
      <ion-label position="floating"> Contraseña </ion-label>
      <ion-input
        formControlName="password"
        type="password"
      ></ion-input>
    </ion-item>
    <div *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.dirty)" class="validation-message">
      La contraseña es obligatoria.
    </div>
    <div *ngIf="loginForm.get('password')?.hasError('minlength') && (loginForm.get('password')?.dirty)" class="validation-message">
      La contraseña debe tener al menos 8 caracteres.
    </div>
    <div *ngIf="loginForm.get('password')?.hasError('maxlength') && (loginForm.get('password')?.dirty)" class="validation-message">
      La contraseña no debe exceder los 20 caracteres.
    </div>
    <!-- Agrega más mensajes según tus necesidades -->

    <div class="ion-text-center"> <!-- Centro horizontalmente -->
      <ion-button
        size="medium"
        type="submit"
        [disabled]="!loginForm.valid"
        color="primary"
        shape="round"
        fill="solid"
      > Continuar </ion-button>
    </div>

  </form>
  <div class="validation-message">
    {{ loginMessage }}
  </div>
</ion-content>
